name: CI

on:
  push:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
      - run: pnpm test
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - run: pnpm test:e2e